# les sauvegardes des ipython 
!.ipynb_checkpoints

# les dossiers tmp
out/

.ipynb_checkpoints/
.idea/

# dossier données
results/
saved_models*/
notebooks/
notebook/

# data yaml and output from models
*.pdf
*.pth
*.pkl

# Byte-compiled / optimized / DLL files
__pycache__/
*$py.class
*.pyc
# Mac os
*.DS_Store
# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec



# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
nlu_env/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# VSCode parameters
.vscode/

# MLFlow experiments
mlruns/

# misc
notes.md

.git

doc/

# Azure
.azureml
logs/


# Large files
weights/
data/

# venv
cenv/
venv/

# remove files from codecarbon
emissions.csv

# Remove some possible artifacts
best_model.h5
cm.png

# tmp removals
HOWTO/
installs/
src/application/azure/
environment.yml
summary_fine-tuning.txt
summary_transfer-learning.txt
nohup.out